.alarmPosition {
    display : flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    top: 5rem;
    padding-top: 1rem;
    padding-right: 1rem;
 }

 .alarmPosition *{
    z-index: 1;
 }

 .alarmIcon{
    width : 1rem;
    height: 1rem;
 }

 .alarm_content{
   color: black;
 }

 .alarm_dt{
   color: gray;
   font-size: 0.8rem;
   display: flex;
 }

 .alarm_delete{
   background-color: transparent;
   border: 0;
   padding-left: 1rem;
   color: black;
   display: flex;
   padding-left: 10rem;
 }

 .AllAlarmListGroup{
   position: absolute;
   top: 4rem;
 }