.E_main_page {
  display: flex;
  justify-content: center;
}

.big_div {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.in {
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 3%;
}
.E_main_detail {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
#boot_header {
  background-color: rgb(0, 138, 204);
}
.E_main_input_detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}
.detail_inner_info {
  display: flex;
}
.E_main_input_detail_first_div {
  text-align: center;
}
.E_main_input_detail_two_div {
  text-align: center;
}
.E_main_input_detail_three_div {
  text-align: center;
  padding-left: 10px;
}
.filter {
  clear: both;
  width: 1000px;
}
.test {
  background-color: rgb(0, 138, 204);
  border-radius: 10%;
  color: white;
  width: 5em;
  height: 2.3em;
  text-align: center;
  float: right;
  margin-right: 5%;
  padding: 6px;
}

.first_div {
  align-self: center;
  width: 70em;
  display: flex;
  flex: content;
  justify-content: space-between;

  /* flex-direction: row; */
}
.first_div div {
}
.E_main_table {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.two_div:hover {
  background-color: rgb(206, 248, 255);
}
.two_div {
  align-self: center;

  width: 70rem;
  display: flex;
  flex: content;
  padding: 3px;
  margin: 3px;
  border-bottom: 2px solid;
  border-color: gray;
}
.e_main_photo {
  width: 10rem;
  height: 12rem;
  display: flex;
}
.id_photo {
  width: 10rem;
}
.e_main_resume {
  width: 30em;

  height: 12em;
}
.e_main_resume_info {
  margin: 5%;
  font-size: 1.2em;
  font-weight: 1000;
}
.e_main_resume_info div {
  font-size: 0.9em;
  font-weight: 400;
  margin-left: 3.3em;
}
.e_main_comment {
  width: 40em;
}
.e_main_comment_info {
  margin: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  background-color: rgb(234, 234, 234);
  border-radius: 0.5rem;
}
.e_main_comment_project {
  margin: 5px;
  padding: 5px;
  font-size: 1.3rem;
}
.e_main_update {
  margin: 5px;
  padding: 5px;
  text-align: right;
  color: rgb(136, 136, 167);
}
.photo {
  margin: 10%;
  width: 300px;
  height: 160px;
  background-image: url(https://news.nateimg.co.kr/orgImg/my/2022/03/30/202203301657532027_1.jpg);
  background-size: contain;
}
.photo1 {
  margin: 10%;
  width: 300px;
  height: 155px;
  background-image: url(https://blog.kakaocdn.net/dn/IOYEi/btq1JzPmm2w/Jn7TB4RqutJNkyeAS8K0U1/img.jpg);
  background-size: contain;
}
