.footerContainer {
    background: rgb(64, 64, 64);
    width: 100%;
    color: rgb(95, 95, 95);
    text-align: left;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.footerInnerDiv {
    width: 80%;

    display: flex;
    flex-direction: column;
}

.footerInnerTop {
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 100%;
    border-bottom: 1px solid #c7c7c7;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerLogo {
    width: 208px;
    height: 48px;
}
.snsLinkIcon a {
    margin-left: 1rem;
}
.footerInnerBottom {
    padding-top: 1rem;
}
.title{
    font-size : 18.4px;
    font-weight: 1000;
}

.emphasize{
    font-weight: 500;
    color: #c7c7c7;
}
