
.headerTopDiv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    box-shadow: 0 0.2rem 0.2rem -0.2rem rgba(49, 49, 49, 0.397);
}


.headerInnerDiv {
    height: 5rem;
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    height: 2.8rem;
}

.headerRight {
    display: flex;
    align-items: center;
}

.headerImgProfile {
    height: 2.8rem;
    margin: 0 0.2rem;
}

.headerBtn {
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
    margin: 0 0.5rem;
    background-color: rgb(0, 138, 204);
    font-weight: bold;
    color: white;
} ::placeholder {

}