.T_mainInner {
    display: flex;
}

.T_mainInnerR {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*헤더 CSS*/

.headerTopDiv {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background-color: white;
    box-shadow: 0 0.2rem 0.2rem -0.2rem rgba(49, 49, 49, 0.397);
}

.headerInnerDiv {
    height: 5rem;
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    height: 2.8rem;
}

.headerRight {
    display: flex;
    align-items: center;
} 
.headerRight>p {
    margin: 0;
}
.headerRight>a {
    margin-left: 1.5rem;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
}

.headerImgProfile {
    height: 2.8rem;
    margin: 0 0.2rem;
}

.headerBtn {
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
    margin: 0 0.5rem;
    background-color: rgb(0, 138, 204);
    font-weight: bold;
    color: white;
}