.loginContainer,
.registerCntainer {
  display: flex;
  justify-content: center;

}
.topDiv, .loginDiv{
  background-color: var(--mainGray);
  border-radius: 10px;
  margin: 2rem;
  padding: 1.5rem 0.7rem;
  max-width: 30rem;
  min-width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginDiv{
  box-shadow: 0 2px 8px 0 gray ;
  padding: 1rem 0.7rem ;
  background-color: #f8f9fa ;
  margin: 4rem ;
}

.loginContainer {
  min-height: 32rem;
  margin-bottom: 5rem;
  
}
.loginTab {
  display: flex;
  width: 100%;
  justify-content: center;
  
}
.loginTab > button {
  border: none;
  background-color: var(--mainGrey);
  padding: 1rem;
  width: 45%;

}
.loginContainer > div > div > input {
  width: 90%;
  padding: 0.3rem 0.5rem;
  margin: 1rem 0 -0.1rem 0;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 0 0 0 0;
  height: 3rem;

}

.memberLogin,
.enterpriseLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.memberLogin > button,
.enterpriseLogin > button {
  width: 90%;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  margin-top: 1.2rem;
  background-color: var(--mainBlue);
  color: white;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
}
.memberLogin > div,
.enterpriseLogin > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
  width: 88%;
}
.memberLogin span,
.enterpriseLogin span {
  margin: 0 0.3rem;
}
.memberLogin > div:last-child, .enterpriseLogin > div:last-child {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}


#IdInput{
  border-radius: 5px 5px 0 0;
  margin-bottom: 0.1px;
}


#PwInput{
  border-radius:  0 0 5px 5px;
  margin-top: 0rem;
}



.enterpriseLogin > span {
  margin-top: 0.5rem;
}
.loginRegisterNav {
  cursor: pointer;
}

.loginBtnStyle {
  border-bottom: 2px solid #008ACC !important;
  color: #008ACC !important;
  font-weight: bold;
}

.loginLogo{
  display: flex;
  width: 20rem;
  margin: auto;
  margin-top: 8rem;
 
  
}
.LoginFooterLogo{
  width: 8rem;
  height: 1.5rem; 
  margin-bottom: 0.1rem;
}
.LoginFooterLogo:hover{
cursor: pointer;
}
.LoginText{
font-size: 0.7rem;
color: #888;
}
.LoginCorp{
font-size: 0.7rem;
}

.LoginFopterDiv{
  height: 10px;
  margin: auto;
}

.loginFooter{
  display: flex;
 margin-bottom: 8rem;
}
.personal_info_Div{
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 0.7rem;
  margin-bottom: 0.1rem;
  color: gray;
}
.personal_info_Div:hover{
  cursor: pointer;
}

.personal_2{
 font-weight: bold;
}

#personal_line_1{
  font-size: 0.1rem;
}

.loginLine_1{
  font-size: 0.5rem;
}