.course_edit_container_inner{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}

.edit_course_table{
    padding-bottom: 5px;
    justify-content: center;
}

.edit_course_table > thead{
    font-size: 18px;
}

.edit_course_table > tbody{
    font-size: 14px;
}