.head_title {
    font-size: 27px;
    margin-left: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.basic_container {
    width: 70%;
    height: 530px;
    background-color: #f4f4f4;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 30px;
    font-size: 18px
}

.course_make_container_inner{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

.container_inner_left{
    width: 300px;
    margin-right: 100px;
}

.container_inner_right{
    
}

.make_course_input{
    width: 300px;
    padding: 20px;
    font-weight: 800;
}

.make_course_input > input{
    height: 25px;
}