.topDiv {
   background-color: var(--mainGray);
   border-radius: 10px;
   margin: 2rem;
   padding: 1.5rem 0.7rem;
   max-width: 30rem;
   min-width: 24rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid #e3e3e3;
}


/*Announcement 컴포넌트*/
.annHead {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
} .annHead>div {
   display: flex;
   flex-direction: row;
} .annHead p {
   margin: 0;
   font-size: 0.9rem;
} .annHead>p {
   font-weight: bold;
   font-size: large;
   margin-left: 1rem;
} .annHead>div>p {
   margin-right: 0.4rem;
} .annBody {
   width: 100%;
   padding: 0 0.2rem;
   min-height: 20rem;
} .annItem {
   border-top: 1px solid rgb(231, 231, 231);
   margin: 0.5rem 0.6rem;
   padding-top: 0.6rem;
   /*텍스트 줄바꿈 없애고 overflow되면 ...표시로 바꿔줌*/
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
} 


/*Attemdamce 컴포넌트*/
.attTable {
   width: 100%;
   text-align: center;
   font-weight: bold;
   font-size: large;
} .attTable thead {
   font-size: 1.4rem;
} .attTable .attNum {
   font-size: 2.5rem;
} .attTable td {
   width: 33%;
}


/*Navbar 컴포넌트*/
#navbarTopDiv {
   background-color: var(--mainGray);
   width: 18rem;
   height: 100%;
border-right:1px solid #e3e3e3;
}
.navContentBox {
   padding: 1rem;
   margin-left: 1rem;
  
   
   
}
.navTitle {
   font-weight: bold;
   font-size: 1.3rem;
   padding-left: 1rem;
   margin-bottom: 0.2rem;
   margin-top: 0.8rem;
}
.navSubtitle {
   font-size: 1.1rem;
   padding: 0.5rem 0.1rem;
   margin: 0;
   margin-left: 1rem;
   width: 100%;


}
.navSubtitle:hover {
   background-color: rgb(230, 230, 230);
width: 100%;
 }

/*연장사용신청*/
.extendTable table{
   width: fit-content !important;
   border: none !important;
}
.extendTable table td{
   padding: 0.4rem 0.8rem !important;
}
.extendTable table input {
   width: 5rem;
}
.extendTable table tr td button {
   border: none;
   border-radius: 5px;
   padding: 0.3rem 0.6rem;
   background-color: rgb(75, 75, 75);
   color: white;
   margin-right: 0.5rem;
}