.topDiv {
   background-color: var(--mainGray);
   border-radius: 10px;
   margin: 2rem;
   padding: 1.5rem 0.7rem;
   max-width: 30em;
   min-width: 24em;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/*Announcement 컴포넌트*/
.annHead {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
} .annHead>div {
   display: flex;
   flex-direction: row;
} .annHead p {
   margin: 0;
   font-size: 0.9rem;
} .annHead>p {
   font-weight: bold;
   font-size: large;
   margin-left: 1rem;
} .annHead>div>p {
   margin-right: 0.4rem;
} .annBody {
   width: 100%;
   padding: 0 0.2rem;
   min-height: 20rem;
} .annItem {
   border-top: 1px solid rgb(231, 231, 231);
   margin: 0.5rem 0.6rem;
   padding-top: 0.6rem;
   /*텍스트 줄바꿈 없애고 overflow되면 ...표시로 바꿔줌*/
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
} 



/*Attemdamce 컴포넌트*/
.attTable {
   width: 100%;
   text-align: center;
   font-weight: bold;
   font-size: large;
} .attTable thead {
   font-size: 1.4rem;
} .attTable .attNum {
   font-size: 2.5rem;
} .attTable td {
   width: 33%;
}