.agreementContainer {
   border: 1px solid rgb(223, 223, 223);
   padding: 1rem;
}
.agreementContainer>div>div {
   margin-top: 0.3rem;
}
.agreementContainer input {
   margin-right: 0.3rem;
}

.registerCntainer>div {
   border: 1px solid rgb(223, 223, 223);
   border-radius: 10px;
   padding: 2rem;
   margin: 2rem;
   width: 30rem;
}
.registerCntainer>div>p {
   text-align: center;
   font-weight: bold;
   font-size: 1.4rem;
}
.registerCntainer>div>span {
   color: red;
}
.registerCntainer>div>div {
   display: flex;
   flex-direction: column;
   margin-top: 1rem;
   border: 1px solid rgb(223, 223, 223);
   border-radius: 10px;
   padding: 0.3rem 1rem;
}
.registerCntainer>div>div>span, .registerCntainer>div>span {
   font-size: 0.9rem;
}
.registerCntainer>div>div>input {
   border: none;
   margin: 0.3rem 0;
}
.registerCntainer>div>div>div>input:last-child {
   margin-left: 1rem;
}
#expire {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0.6rem 1rem;
}
#expire input {
   margin-right: 0.5rem;
}
.registerCntainer>div>button {
   width: 100%;
   border: none;
   border-radius: 10px;
   padding: 0.6rem 0.5rem;
   margin-top: 2rem;
   background-color: var(--mainBlue);
   color: white;
}