.agreementContainer {
  border: 1px solid rgb(223, 223, 223);
  padding: 1rem;
}
.agreementContainer > div > div {
  margin-top: 0.3rem;
}
.agreementContainer input {
  margin-right: 0.3rem;
}

.registerContainer {
  display: flex;
  justify-content: center;
}
.registerContainer > div {
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
  width: 30rem;
}
.registerContainer > div > p {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}
.registerContainer > div > span {
  color: red;
}
.registerContainer > div > div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  padding: 0.3rem 1rem;
}
.registerContainer > div > div > span,
.registerContainer > div > span {
  font-size: 0.9rem;
}
.registerContainer > div > div > input {
  border: none;
  margin: 0.3rem 0;
}
.registerContainer > div > div > div > input:last-child {
  margin-left: 1rem;
}
#expire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6rem 1rem;
}
#expire input {
  margin-right: 0.5rem;
}
.registerContainer > div > button {
  width: 100%;
  border: none;
  border-radius: 50px;
  padding: 0.6rem 0.5rem;
  margin-top: 2rem;
  background-color: var(--mainBlue);
  color: white;
}
.M_make_course_container > div > div > input {
  border-bottom: solid 0.1rem #e3e3e3;
}
.basic_container_container > div > div > input {
  border-bottom: solid 0.1rem #e3e3e3;
}
