.topDiv_resumePage{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100%;
}


.topDiv_resume {
   min-width: 60rem;
   max-width: 80rem;
   margin: 2rem;
   padding: 1.5rem 0.7rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   border-radius: 10px;
}

.topDiv_resume>div {
   width: 56rem;
}
.topDiv_resume>div>table {
   margin-bottom: 1rem;
   width: 100%;
   text-align: center;
}
.topDiv_resume>div td {
   padding-top: 0.5rem;
}
/*각 div 별 간격 조절용*/
.topDiv_resume>div>p {
   margin-top: 3rem;
}
.r_basic {
   display: flex;
}
/*증명사진 div*/
.r_basic>div:first-child {
   width: 10rem;;
}
.r_basic>div:last-child {
   width: 45rem;
}
.sRPhotoDiv{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.sRPhotoDiv>div{
   padding: .5rem;
}
.r_basic>div>div>div>button{
   margin: 0.2rem;
}

.resumeTable>thead>tr>th>div, .resumeTable>tbody>tr>td>div{
   width: 2rem;
}
/* .resumeTable tr td input{
   width: 90%;
} */


/*이름 성별 태어난연도 div, 각 div 제목 p 태그*/
.r_basic>div:last-child>div:first-child, .topDiv_resume>div>p, .r_basic>div:last-child>div:last-child>p:first-child {
   display: flex;
   align-items: center;
   border-bottom: 3px solid rgb(209, 209, 209);
   margin-bottom: 0.5rem;
}
.r_basic>div:last-child>div:first-child>p {
   margin: 0;
}
/*이름 p태그, 각 div 제목 p 태그*/
.r_basic>div:last-child>div:first-child>p:first-child, .topDiv_resume>div>p, .r_basic>div:last-child>div:last-child>p:first-child{
   font-size: 1.4rem;
   font-weight: bold;
   margin-right: 1rem;
}

/*기술스택*/
.r_basic>div:last-child>div:last-child>p>input{
   width: 40rem;
   height: 10rem;
}

/*연락처 이메일 주소 희망지역 div들*/
.r_basic>div:last-child>div>div {
   display: flex;
}
.r_basic>div:last-child>div>div>p:first-child {
   min-width: 5rem;
   text-align: center;
}
.blueBtn{
   border: none;
   border-radius: 5px;
   padding: 0.4rem 0.6rem;
   margin: 0 0.5rem;
   background-color: rgb(0, 138, 204);
   font-weight: bold;
   color: white;
}

.sRBtnDiv{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.sRAddBtn{
   width: 1.7rem;
   height: 1.7rem;
}
.sRDeleteBtn{
   width: 1.7rem;
   height: 1.7rem;
}

.rDt>input{
   width: 6rem;
}
/* 저장하기 버튼 */
.saveDiv{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 0.5rem;
}

.rOrg>input{
   width: 10rem;
}
.dateInput{
   width: 7rem;
}

/*자소서*/
.cLInput{
   width: 98.25%;
   height: 10rem;

}

/*input 크기*/
.gradScore{
   width: 3rem;
}
.miliArmy{
   width: 5rem;
}
.crPosition{
   width:5rem;
}
.big_input_text{
   width: 20rem;
   height: 5rem;
}

.sRBtnSaveDiv{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.photoDiv{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.photoDiv>div{
   margin-top: 0.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.photoDiv>div:last-child{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 65%;
   margin-top: 0.5rem;
}
.photoDiv>div>button{
   border: none;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   margin-left: 0.2rem;
   margin-right: 0.2rem;
   border-radius: 5px;
   background-color: rgb(75, 75, 75);;
   color: white;
}

.photoDiv>img{
   width: 3cm;
   height: 4cm;
}

.photoDiv>div>input{
   width: 50%;
}